@import "../../styles/_variaveis";

.newsletter {
  padding: 28px;
  font-family: $main-font;

  .nl_container {
    border: 2px solid #000000;
    padding: 24px;
    text-align: center;
    font-size: 20px;

    .input_field {
        margin-top: 30px;

      input,
      button {
        height: 38px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
      }

      input {
        border-color: #000000;
      }

      button {
        color: white;
        background-color: $bg-btn-one;
        border-color: "transparent";
      }
    }
  }
}

@media (min-width: 375px){
  .newsletter {
    padding: 28px;

    .nl_container {
      font-size: 18px;
    }
  }
}

@media (min-width: 785px){
  .newsletter {
    padding: 56px;
  }

  .input_field {
    padding: 0 15%;
  }
}

@media (min-width: 1440px) {
  .newsletter {
    padding: 40px 439px;
  }

  .input_field {
    padding: 0 15%;
  }
}
