@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

// Tipografia
$main-font: "Inter";
// $fonte-bold: "GandhiSansBold";

//Cores
$bg-color-one: #F3F6F7;
$bg-color-two: #000000;
$bg-color-three: #343A40;

$inpt-search: #6C757D;


$bg-btn-one: #9353FF;

$highlight: #DAFF01;

// TAMANHOS
// Altura
$header: 58px;


// IMAGENS
// banners
$banner_small: "img/banner.png";